@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    direction: rtl;
    --main: #bc6a6a;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .content {
    --gap: clamp(0.5rem, 2vw, 0.75rem);
    --full: minmax(var(--gap), 1rem);
    --content: min(85vw, 100% - var(--gap) * 2);
    --breakout: minmax(0, 0.5rem);
    --feature: minmax(0, 1rem);

    display: grid;
    padding: 1rem 0;
    place-content: center;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [breakout-start] var(--breakout)
      [content-start] var(--content) [content-end]
      var(--breakout) [breakout-end]
      var(--feature) [feature-end]
      var(--full) [full-end];
  }
  .content > :not(.breakout, .feature, .full) {
    grid-column: content;
  }

  .content > .full {
    grid-column: full;
  }

  .content > .breakout {
    grid-column: breakout;
  }

  .content > .feature {
    grid-column: feature;
  }
  .fx-center {
    @apply flex items-center justify-center;
  }

  .fx-between {
    @apply flex justify-between;
  }
}

.PhoneInputInput {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);

  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem 0.75rem;
  border: 1px solid hsl(var(--input));
  border-radius: calc(var(--radius) - 2px);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.PhoneInputCountrySelectArrow {
  margin-inline: 0.5rem;
}

.loading {
  position: relative;
  height: 0;
  width: 0;
}

.loading span {
  display: block;
  height: 20px;
  width: 20px;
  background: var(--main);
  position: absolute;
  border-radius: 50%;
}

.loading span:nth-of-type(1) {
  left: -40px;
  animation: loader1Anim 1.2s linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}
.loading span:nth-of-type(2) {
  left: -10px;
  animation: loader1Anim 1.2s linear;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}
.loading span:nth-of-type(3) {
  left: 20px;
  animation: loader1Anim 1.2s linear;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  animation-direction: forwards;
}

@keyframes loader1Anim {
  from,
  to {
    transform: scale3d(1.15, 0.8, 1);
  }
  42% {
    transform: translateY(-45px);
  }
  88% {
    transform: scale3d(1, 1, 1);
  }
  95% {
    transform: scale3d(1.05, 0.85, 1);
  }
  98% {
    transform: scale3d(1.15, 0.8, 1);
  }
}

.ql-editor,
.ql-blank {
}
